/* # Skip Links
  ---------------------------------------------------------------------------------------------------- */

.genesis-skip-link {
    margin: 0;
    li {
        height: 0;
        width: 0;
        list-style: none;
    }
}


/* Display outline on focus */

 :focus {
    color: $skip-link--focus-text-color;
    outline: $skip-link--focus-outline-color solid 1px;
}