/* ## Breadcrumbs
  --------------------------------------------- */

.breadcrumb {
    background-color: $breadcrumbs--background-color;
    font-size: rem ( $breadcrumbs_FontSize);
    margin-bottom: 1px;
    padding: 12px 30px;
}