/* ## Widget Area
  --------------------------------------------- */

.site-header .widget-area {
    float: right;
    text-align: right;
    width: $header-right--width;
    @include media($breakpoint__screen-size--large) {
        width: $headerRight__LaptopWidth;
    }
    @include media($breakpoint__screen-size--medium) {
        text-align: center;
        width: 100%;
    }
}