/* ### Primary Sidebar */

.sidebar-primary {
    float: right;
    width: 360px;
    @media only screen and (max-width: $largerScreen) {
        width: $primarySidebar__LargerScreenWidth;
    }
    .sidebar-content &,
    .sidebar-sidebar-content & {
        float: left;
    }
}