/* ### Primary Sidebar */

.sidebar-primary {
    float: right;
    width: 360px;
    @include media($breakpoint__screen-size--larger) {
        width: $primary-sidebar--width-larger-screen;
    }
    .sidebar-content &,
    .sidebar-sidebar-content & {
        float: left;
    }
}