/*
 * Site Description
 *-------------------------------*/

.site-description {
    font-size: rem( $site-description--font-size);
    font-weight: 400;
    line-height: $site-description--line-height;
}

.site-description,
.site-title {
    margin-bottom: 0;
}