/*
 * Site Description
 *-------------------------------*/

.site-description {
    font-size: rem( $siteDescription__FontSize);
    font-weight: 400;
    line-height: $siteDescription__LineHeight;
}

.site-description,
.site-title {
    margin-bottom: 0;
}