/*
 * Site Title
 *-------------------------------*/

.site-title {
    @include rem(font-size, $site-title--font-size);
    font-weight: 700;
    line-height: $site-title--line-height;
    a,
    a:hover,
    a:focus {
        color: $site-title--link-color;
        text-decoration: none;
    }
    .home-hero & {
        color: $white;
        text-align: center;
        font-size: 55px;
    }
}