//
// Device Screen Sizes
//==========================
$screen-size--huge: 1600px;
$screen-size--larger: 1340px;
$screen-size--large: 1200px;
$screen-size--medium: 1023px;
$screen-size--small: 860px;
$screen-size--smaller: 480px;
$screen-size--smallest: 320px;