/*
 * Common Fonts 
 *-------------------------------*/

$fontFamily__SourceSansPro: "Source Sans Pro",
sans-serif;

/*
 * Base Typography 
 *-------------------------------*/

$html__FontSize: 62.5%;
$base__FontFamily: $fontFamily__SourceSansPro,
sans-serif;
$base__FontSize: 20;
$base__LineHeight: 1.625;
$base__FontSize__SmallScreenWidth: 18;
$baseDiv__FontSize: 20;
$baseDiv__FontSize__SmallScreenWidth: 18;

/*
 * Headings 
 *-------------------------------*/

$headings__FontFamily: $fontFamily__SourceSansPro;
$headings__LineHeight: 1.2;
$h1__FontSize: 36;
$h2__FontSize: 30;
$h3__FontSize: 24;
$h4__FontSize: 20;
$h5__FontSize: 18;
$h6__FontSize: 16;

/*
 * Elements 
 *-------------------------------*/

$blockquote__FontSize: 30;

/*
 * Form Elements 
 *-------------------------------*/

$input__FontSize: 18;
$button__FontSize: 16;

/*
 * Navigation
 *-------------------------------*/

$nav__FontSize: 16;
$submenu__FontSize: 14;
$primaryNav__FontSize: 14;
$archivePagination__FontSize: 16;
$breadcrumbs__FontSize: 16;

/*
 * Header
 *-------------------------------*/

$siteTitle__FontSize: 30;
$siteTitle__LineHeight: 1.2;
$siteDescription__FontSize: 16;
$siteDescription__LineHeight: 1.5;

/*
 * Footer
 *-------------------------------*/

$siteFooter__FontSize: 16;
$footerWidgts_FontSize: 18;

/*
 * Entry Content
 *-------------------------------*/

$entryMeta_FontSize: 16;
$entryMeta__Header__FontSize: 16;
$entryMeta__Footer__FontSize: 16;
$entryTitle__FontSize: 36;
$afterEntry__FontSize: 18;

/*
 * Comments
 *-------------------------------*/

$comments__FontSize: 16;

/*
 * Author Box
 *-------------------------------*/

$authorbox__FontSize: 18;
$authorbox__Title__FontSize: 18;

/*
 * Widgets
 *-------------------------------*/

$widget__FontSize: 16;
$widgetTitle__FontSize: 18;
$featuredContent__EntryTitle__FontSize: 20;

/*
 * Plugins
 *-------------------------------*/

$enews__FontSize: 16;

/*
 * Archive
 *-------------------------------*/

$archiveDescription__FontSize: 18;
$archiveTitle__FontSize: 20;